fastapi
uvicorn
sqlalchemy
joblib
numpy
scikit-learn
xgboost
PyJWT
bcrypt
python-multipart
fastapi
uvicorn
sqlalchemy
pydantic
python-jose
PyJWT
bcrypt
joblib
numpy
pandas
scikit-learn
xgboost
python-multipart
passlib[bcrypt]
resend
requests
groq
psycopg2-binary
apscheduler
selenium
webdriver-manager
opencv-python-headless
pytesseract
python-dotenv
